doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/js/GameObserver.js")
    script(src="/js/creature.js")
    script(src="/js/Grid.js")
    script(src="/js/BioGrid.js")

    script(src="/js/CreatureLoader.js")
    script(src="/js/app.js")
    script(src="/js/testCreature.js")
  body
    block content