body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#file_drop {
  height: 50px;
  width: 400px;

  border: 5px dashed gray;

  line-height: 50px;
  padding: 14px;
  font-size: 22px;
  color: gray;
  font-weight: bold;
}

#file_drop:hover {
  background: #EEE;
}